.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 100px 50px;
}

.cart-container {
    background-color: #FFE0B3;
}

.pagination button {
    margin-right: 10px;
    background-color: white;
    border: 1px solid orange;
}

.pagination .selected {
    background-color: orange;
    color: white;
}